<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add new employee</h2>
    </div>
    <div class="panel-body">
        <ng-form name="employeeAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.firstName.$invalid && employeeAddForm.firstName.$dirty }">
                        <!--TODO#HR2-->
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" ng-model="employee.firstName"
                               placeholder="First Name"  required>
                        <span class="help-block" ng-show="employeeAddForm.firstName.$error.required
                             && employeeAddForm.firstName.$dirty"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.lastName.$invalid && employeeAddForm.lastName.$dirty }">
                        <!--TODO#HR2-->
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" ng-model="employee.lastName"
                               placeholder="Last Name"  required>
                        <span class="help-block" ng-show="employeeAddForm.lastName.$error.required
                             && employeeAddForm.lastName.$dirty"></span>

                    </div>
            </div>
            <div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.lastName.$invalid && employeeAddForm.lastName.$dirty }">
                        <!--TODO#HR2-->
                        <label for="lastName">Email:</label>
                        <input type="text" id="email" name="email" class="form-control" ng-model="employee.email"
                               placeholder="email"  required>
                        <span class="help-block" ng-show="employeeAddForm.email.$error.required
                             && employeeAddForm.email.$dirty"></span>

                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.phoneNumber.$invalid && employeeAddForm.phoneNumber.$dirty }">
                        <!--TODO#HR2-->
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" ng-model="employee.phoneNumber"
                               placeholder="phoneNumber"  required>
                        <span class="help-block" ng-show="employeeAddForm.email.$error.required
                             && employeeAddForm.email.$dirty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.hireDate.$invalid && employeeAddForm.hireDate.$dirty }">
                        <label for="hireDate">Hire Date:</label>
                        <input type="text" id="hireDate" name="hireDate" class="form-control" ng-model="employee.hireDate"
                               placeholder="Hire Date" ng-pattern="datePattern" required>
                        <span class="help-block" ng-show="employeeAddForm.hireDate.$error.required
                             && employeeAddForm.hireDate.$dirty"></span>
                        <span class="help-block" ng-show="employeeAddForm.hireDate.$error.pattern
                             && employeeAddForm.hireDate.$dirty"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.jobTitle.$invalid && employeeAddForm.jobTitle.$dirty }">
                        <!--TODO#HR2-->
                        <label for="jobs">Job Title:</label>
                        <select id="jobs" ng-model="job.jobs" name="jobs" class="form-control" required
                                ng-options="job.jobTitle for job in jobs track by job.jobId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.salary.$invalid && employeeAddForm.salary.$dirty }">
                        <!--TODO#HR2-->
                        <label for="salary">Salary:</label>
                        <input type="text" id="salary" name="salary" class="form-control" ng-model="employee.salary"
                        placeholder="salary"  required>
                        <span class="help-block" ng-show="employeeAddForm.salary.$error.required
                             && employeeAddForm.salary.$dirty"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.commissionPct.$invalid && employeeAddForm.commissionPct.$dirty }">
                        <label for="commissionPct">Commission:</label>
                        <input type="text" id="commissionPct" name="commissionPct" class="form-control" ng-model="employee.commissionPct"
                               placeholder="Commission" ng-pattern="commissionPattern" required>
                         <span class="help-block" ng-show="employeeAddForm.commissionPct.$error.required
                             && employeeAddForm.commissionPct.$dirty"></span>
                         <span class="help-block" ng-show="employeeAddForm.commissionPct.$error.pattern
                             && employeeAddForm.commissionPct.$dirty"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.department.$invalid }">
                        <!--TODO#HR2-->
                        <label for="departments">Department:</label>
                        <select id="departments" ng-model="department.departmentId" name="department" class="form-control" required
                                ng-options="department.departmentName for department in departments track by department.departmentName">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.manager.$invalid }">
                        <label for="manager">Manager:</label>
                        <select id="manager" ng-model="employee.managerId" name="manager" class="form-control" required
                                ng-options="manager.firstName+' '+ manager.lastName for manager in managers track by manager.employeeId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <!--TODO#HR4-->
                    </div>
                </div>
            </div>
        </ng-form>
        <button ng-click="reset()">Reset</button>
        <button ng-click="create(employee)">Save</button>
    </div>
</div>