<div class="container">


    <div class="panel-body">
        <!--TODO #1 create the select element-->
        <select ng-model="myColors" ng-options="color.text for color in colors track by colors.text" ng-change="changeColor()">

        </select>

        <br>
        <!--TODO #4-->
        <span ng-class="myClass">Some text</span>
    </div>

    <p>---------------------------</p>

    <!--TODO#8-->

    <p>Elem A: <input type="text" ng-model="orderByText"></p>
    <p>Elem B: <input type ="text" ng-model="searchText"> </p>
    <div ng-repeat="color in colors | orderBy:orderByText | filter:searchText">
        <p>{{color.text}}</p>
</div>
</div>